.first-example-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  margin-right: 20px;
}

.second-example-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 80px;
  margin-left: 20px;
}

.first-image {
  width: 379px;
  height: 250px;
}

.second-image {
  width: 379px;
  height: 250px;
}

.link-container {
  position: relative;
}

.link-container a {
  position: absolute;
  top: 90px;
  right: 90px;
  font-size: 20px;
}