header {
  background-color: rgb(226, 232, 240);
  color: rgb(30, 41, 59);
  display: flex;
  align-items: center ;
  padding-left: 100px;
  padding-right: 100px;
}

nav {
  padding: 10px;
  color: rgb(30, 41, 59);
  right: 10px;
  margin-left: auto ;
}

.link {
  margin-left: 60px;
  margin-right: 60px;
  color: rgb(30, 41, 59);
}

.github-link {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

header img {
  border: none;
}