.summary-section {  
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
  border-bottom: solid 1px gray;
}

.project-section {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.project-sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.multiple-projects-sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr; 
}

img {
  border: 1px gray solid;
}

.small-js-link-and-text {
  display: flex;
  flex-direction: column;
}

.to-do-list-image {
  margin-top: auto;
}

.project-link {
  font-weight: 500;
  color: rgb(59, 130, 246);
  text-decoration: inherit;
}

img { 
  height: 234px;    
  width: 498px;  
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 50px;
}