:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(30, 41, 59);
  background-color: rgb(241, 245, 249);
}

a {
  font-weight: 500;
  color: rgb(59, 130, 246);
  text-decoration: inherit;
}

a:hover {
  color: rgb(37, 99, 235);
}

body {
  margin: 0;
}

img {
  width: 766px;  
  height: 360px;
}



/* Background → rgb(241, 245, 249)
Sections / Cards → rgb(255, 255, 255)
Header / Nav → rgb(226, 232, 240)
Footer → rgb(203, 213, 225)
Accent (links/buttons) → rgb(59, 130, 246)
Accent Hover → rgb(37, 99, 235)
Main Text → rgb(30, 41, 59)
Secondary Text → rgb(100, 116, 139)
Borders / Dividers → rgb(203, 213, 225) */